<div layout-padding>
  <md-input-container class="md-block">
      <label>Password</label>
      <input type="password" ng-model="newPassword" name="password" required>
  </md-input-container>

  <md-input-container class="md-block">
      <label>Confirm Password</label>
      <input type="password" ng-model="confirmPassword" name="confirmPassword" ng-pattern="{{newPassword}}" required>

      <div ng-messages="confirmPassword.$error">
          <div ng-message="pattern">The passwords do not match.</div>
      </div>
  </md-input-container>

  <div layout-gt-sm="row">
    <md-button aria-label="Save" class='phood-blue' ng-disabled="doPasswordsNotMatch(newPassword, confirmPassword)" ng-click="resetPassword(newPassword)">Save</md-button>
  </div>
</div>