.donation-content {
    padding: 10px;
}

.donation-header {
    color: #3397da;
    margin: 0;
    font-family: 'Raleway', 'Open Sans', 'Trebuchet MS', arial, sans-serif;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.donation-table-row td {
    text-align: center;
    font-size: 18px;
}

.schedule-pickup {
    background-color: #3397da !important;
}

.schedule-pickup:hover {
    background-color: #707070 !important;
}

#map {
    height: 100%;
    width: 100%;
}