<md-content ng-init="init()" class="full-height md-padding">
	<md-tabs class="full-height">
		<md-tab label="Change Password">
			<md-content layout-padding>
				<div>
					<form name="userForm">
						<md-input-container class="md-block" flex="40">
							<label>Enter Your Old Password</label>
							<input type="password" ng-model="confirmOldPassword">
						</md-input-container>

						<md-input-container class="md-block" flex="40">
							<label>Enter Your New Password</label>
							<input type="password" ng-model="newPassword">
						</md-input-container>

						<md-input-container class="md-block" flex="40">
							<label>Confirm Password</label>
							<input type="password" ng-model="confirmNewPassword" name="confirmNewPassword" ng-match="newPassword" ng-change="checkPasswordMatch()">
							<div>
								<span ng-show="userForm.confirmNewPassword.$touched && !passwordsMatch" class="color-red">Passwords must match!</span>
							</div>

							<div>
								<span ng-show="userForm.confirmNewPassword.$touched && (confirmNewPassword.length < 10)" class="color-red">New password must be 10 or more characters.</span>
							</div>
						</md-input-container>

						<md-input-container class="md-block">
							<md-button aria-label="Set new password" class='phood-blue' ng-click="changePassword()" ng-disabled="!passwordsMatch">Set new password</md-button>
						</md-input-container>
					</form>
				</div>
			</md-content>
		</md-tab>
	</md-tabs>
</md-content>