<md-content ng-init="init()" class="kitchen-container full-height">
	<div layout="row" flex>
		<span layout="row" layout-align="start center" flex="60">
			<md-button ng-class="computeKitchenTabClass('feed')" ng-click="setKitchenTabClass('feed')">Feed</md-button>
			<md-button ng-class="computeKitchenTabClass('achievements')" ng-click="setKitchenTabClass('achievements')">Achievements</md-button>
		</span>

		<span layout="row" layout-align="end center" flex="40">
			<md-menu>
				<md-button aria-label="Contacts" class="phood-blue montserrat" ng-click="openMenu($mdOpenMenu, $event)">
					contacts
					<md-icon md-font-icon="fa-caret-down" class="fa s32 color-white"></md-icon>
				</md-button>

				<md-menu-content width="4" flex>
					<h3 class="montserrat pad-left-10">kitchen contacts</h3>
					<md-divider></md-divider>

					<md-menu-item ng-repeat="org in organizations" layout="column">
						<span class="bold">{{org.name}}</span>
						<p>General Manager: {{org.manager}}</p>
						<md-divider ng-if="!$last"></md-divider>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</span>
	</div>

	<div class="full-height">
		<kitchen-feed ng-show="kitchenTab == 'feed'"></kitchen-feed>
		<kitchen-achievements ng-show="kitchenTab == 'achievements'"></kitchen-achievements>
	</div>
</md-content>