<div layout-padding>
    <div layout="row">
        <md-button class="phood-blue" ng-click="toggleAddRoleCard()">Add Role</md-button>
    </div>

    <new-role-card ng-show="showAddRoleCard" locations="locations" selected-organization="selectedOrganization"></new-role-card>

    <table class="table table-striped table-hover table-bordered" flex>
        <thead>
            <tr>
                <th class="table-header">Role Name</th>
                <th class="table-header">Entity Type</th>
                <th class="table-header">Entity Details</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="role in userRoles">
                <td align="center">{{role.roleName}}</a></td>
                <td align="center">{{role.entityType}}</a></td>
                <td align="center">{{role.entityDetails}}</a></td>
                <td align="center">
                    <md-button type="submit" ng-click="deleteUserRole(role)" class="md-icon-button" aria-label="Delete Role" ng-disabled="isSelf(role)">
                        <md-icon md-font-icon="fa-close" class="fa s32"></md-icon>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>