<md-content layout-padding ng-init="init()">
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alias</th>
                <th>Active</th>
                <th>Owning User</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="obj in organizations" class="ng-cloak">
                <td>{{obj.id}}</td>
                <td>{{obj.name}}</td>
                <td><a href="#" editable-text="obj.alias" onaftersave="editOrganization(obj)">{{obj.alias || '[None]'}}</a></td>
                <td><a href="#" editable-checkbox="obj.active" onaftersave="setActiveStatus(obj)">{{obj.active}}</a></td>
                <td>{{obj.ownerName}}</td>
            </tr>
        </tbody>
    </table>
</md-content>