<div layout-padding class="full-height">
    <div layout="row" flex="50">
        <div layout="col" flex="25">
            <md-select ng-model="selectedDelimiter" aria-label="Delimiter">
                <md-option ng-repeat="delimiter in delimiters" ng-value="delimiter.value">{{delimiter.name}}</md-option>
            </md-select>
        </div>
    </div>

    <input class="ng-hide" id="inputFiles" accept=".csv, .txt" type="file" onchange="angular.element(this).scope().onFileUploaded()"/>
    <label for="inputFiles" class="md-button phood-blue">Choose File</label>
    <label>{{inputFile.name}}</label>

    <div style="overflow: auto" flex="90">
        <table class="table table-striped table-hover table-bordered">
            <!-- Drag and drop headers -->
            <thead>
                <tr>
                    <td ng-repeat="header in headers track by $index" data-header="{{header.name}}" ng-show="header.isActive" draggable="true" ondragstart="angular.element(this).scope().drag(event)">
                        {{ header.name }}
                        <md-button ng-click="removeHeader(header)" ng-show="header.canRemove" class="md-icon-button" aria-label="Remove">
                            <md-icon md-font-icon="fa fa-close"></md-icon>
                        </md-button>
                    </td>
                </tr>
            </thead>
    
            <!-- Preview parsed data -->
            <tbody>           
                <tr ng-repeat="obj in rawParseData | limitTo:3 track by $index">
                    <td ng-repeat="(key, value) in obj track by $index" data-index="{{$index}}" ondragover="angular.element(this).scope().allowDrop(event)" ondrop="angular.element(this).scope().drop(event)">
                        {{ value }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <md-button value="parse" ng-if="(loadingState == 'Ready')" aria-label="Parse" class='md-button phood-blue' ng-click="genericUploadMenu()">Parse</md-button>
    <phood-loader ng-if="(loadingState == 'Loading')"></phood-loader>

    <div ng-if="(loadingState == 'Error')">
        An error has occurred while uploading data.
    </div>

    <div ng-if="success">
        Upload Successful
    </div>
</div>