<div layout-padding>
    <md-button aria-label="Add Location" class='phood-blue' ng-click="toggleNewLocationCard()">Add Location</md-button>

    <new-location-card organization-id="selectedOrganization.id" ng-show="showNewLocationCard"></new-location-card>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Alias</th>
                <th>Active</th>
            </tr>
        </thead>

        <tbody>
            <div ng-if="(loadingState == 'Ready')">
                <tr ng-repeat="loc in locations" class="ng-cloak">
                    <td>{{loc.id}}</td>
                    <td>{{loc.name}}</td>
                    <td><a href="#" editable-text="loc.alias" onaftersave="editLocation(loc)">{{loc.alias || '[None]'}}</a></td>
                    <td><a href="#" editable-checkbox="loc.active" onaftersave="setActiveStatus(loc)">{{loc.active}}</a></td>
                </tr>
            </div>
        </tbody>
    </table>
</div>