<div class="menu-content ng-cloak" ng-init="init()">
    <div flex-gt-xs>
        <md-datepicker ng-model="date" md-placeholder="Enter date" ng-change="updateDate()"></md-datepicker>
        <md-button type="button" class="phood-blue add-item" ng-click="toggleNewItemsCard()">Add Items</md-button>
        <md-button type="button" class="phood-red" ng-click="deleteAll()">Delete All</md-button>
    </div>

    <new-menu-items-card ng-show="showNewItemsCard" location-id="selectedLocation.id" stations="stations"></new-menu-items-card>

    <table class="table table-striped table-hover table-bordered table-config">
        <thead>
            <tr>
                <th class="table-header">Item</th>
                <th class="table-header">Meal</th>
                <th class="table-header">Portion Cost</th>
                <th class="table-header">Portion Size</th>
                <th class="table-header">Portions Produced</th>
                <th class="table-header">Station</th>
            </tr>
        </thead>

        <tbody id="table">
            <div>
                <tr ng-repeat="item in items">
                    <td align="center"><a href="#" editable-text="item.name" onaftersave="editItem(item)" e-typeahead="f for f in allFoodItemNames | filter:$viewValue | limitTo: 8">{{item.name ||'empty'}}</a></td>
                    <td align="center"><a href="#" editable-select="item.meal" e-ng-options="m for m in meals" onaftersave="editItem(item)">{{item.meal || 'empty'}}</a></td>
                    <td align="center"><a href="#" editable-number="item.portionCost" e-step="any" onaftersave="editItem(item)">{{item.portionCost || 'empty'}}</a></td>
                    <td align="center"><a href="#" editable-number="item.portionQuantity" e-step="any" onaftersave="editItem(item)">{{item.portionQuantity || 'empty'}}</a></td>
                    <td align="center"><a href="#" editable-number="item.portionsProduced" e-step="any" onaftersave="editItem(item)">{{item.portionsProduced || 'empty'}}</a></td>
                    <td align="center"><a href="#" editable-text="item.station" onaftersave="editItem(item)" e-typeahead="s for s in stations | filter:$viewValue | limitTo: 8">{{item.station ||'empty'}}</a></td>

                    <td>
                        <md-button data-ng-click="deleteItem(item)" class="md-fab md-mini phood-red">X</md-button>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>
    <div ng-if="(loadingState == 'Loading')">
        <phood-loader></phood-loader>
    </div>
    <div ng-if="(loadingState == 'NoData')">
        No menu data.
    </div>
    <div ng-if="(loadingState == 'Error')">
        An error occurred while retrieving menu data.
    </div>
</div>