<link rel="stylesheet" href="app/modules/dashboard/dashboard.css">

<div class="dashboard-container">
	<div layout="row" layout-align="end center">
		<md-button ng-class="computeDateRangeClass('week')" ng-click="setDateRange('week')">Last 7 Days</md-button>
		<md-button ng-class="computeDateRangeClass('month')" ng-click="setDateRange('month')">Last 4 Weeks</md-button>
		<md-button ng-class="computeDateRangeClass('semester')" ng-click="setDateRange('semester')">This Semester</md-button>

		<md-switch ng-model="isPreConsumer" class="md-primary" ng-change="updateDashboard(isPreConsumer)" aria-label="Pre Consumer">
			{{ computePreOrPostShowing(isPreConsumer) }}
		</md-switch>
	</div>

	<div layout-xs="column" layout="row">
		<md-card class="phood-blue-no-hover header-card" flex-xs flex-gt-xs="33" layout="column">
			<md-card-title-text class="dashboard-title-card">
				<span class="md-headline">${{totalValue}}</span>
				<span class="md-subhead">Total Value</span>
			</md-card-title-text>
		</md-card>

		<md-card class="phood-blue-no-hover header-card" flex-xs flex-gt-xs="33" layout="column">
			<md-card-title-text>
				<span class="md-headline">{{totalPounds}}</span>
				<span class="md-subhead">Pounds</span>
			</md-card-title-text>
		</md-card>

		<md-card class="phood-blue-no-hover header-card" flex-xs flex-gt-xs="33" layout="column">
			<md-card-title-text>
				<span class="md-headline">{{totalEntries}}</span>
				<span class="md-subhead">Entries</span>
			</md-card-title-text>
		</md-card>
	</div>

	<div class="managementCharts" ng-init="init()">
		<div ng-if="(loadingState == 'Ready')" class="chart-container">

			<div layout="row">
				<md-card flex-xs flex-gt-xs class="waste-over-time-card">
					<canvas id="wasteOverTime" class="chart chart-line" chart-data="wasteOverTimeData"
							chart-labels="wasteOverTimeLabels" chart-series="wasteOverTimeSeries" chart-options="wasteOverTimeOptions">
					</canvas>
				</md-card>

				<md-card flex-xs flex-gt-xs class="waste-over-time-card">
					<canvas id="wasteByDay" class="chart chart-line" chart-data="wasteByDayData"
							chart-labels="wasteByDayLabels" chart-options="wasteByDayOptions">
					</canvas>
				</md-card>
			</div>

			<div layout="row" ng-show="isPreConsumer">
				<md-card flex-xs flex-gt-xs class="waste-over-time-card">
					<canvas id="actions" class="chart chart-doughnut" chart-options="actionOptions"
							chart-data="actionData" chart-labels="actionLabels">
					</canvas>
				</md-card>

				<md-card flex-xs flex-gt-xs class="waste-over-time-card">
					<canvas id="topWastedItems" class="chart chart-bar" chart-options="topWastedItemOptions"
							chart-data="topWastedItemData" chart-labels="topWastedItemLabels" >
					</canvas>
				</md-card>
			</div>

			<div layout="row">
				<md-card flex-xs flex-gt-xs="33" class="card-icon" layout="column">
					<md-icon md-font-icon="fa-tint" layout="row" layout-align="center end" class="fa card-icon-header" flex="50"></md-icon>

					<span layout="row" class="card-icon-text" layout-align="center center" flex="50">{{totalGallons}} gallons of water</span>
				</md-card>

				<md-card flex-xs flex-gt-xs="33" class="card-icon" layout="column">
					<md-icon md-font-icon="fa-tree" layout="row" layout-align="center end" class="fa card-icon-header" flex="50"></md-icon>

					<span layout="row" class="card-icon-text" layout-align="center center" flex="50">{{totalTonsGHG}} tons of GHG</span>
				</md-card>

				<md-card flex-xs flex-gt-xs="33" class="card-icon" layout="column">
					<md-icon md-font-icon="fa-car" layout="row" layout-align="center end" class="fa card-icon-header" flex="50"></md-icon>

					<span layout="row" class="card-icon-text" layout-align="center center" flex="50">{{totalCarsForOneDay}} cars driven for one day</span>
				</md-card>
			</div>
		</div>

		<div ng-if="(loadingState == 'Loading')">
			<phood-loader></phood-loader>
		</div>
		<div ng-if="(loadingState == 'Error')">
			An error has occurred while retrieving dashboard data.
		</div>
	</div>
</div>