<md-content layout-padding flex>
    <div ng-repeat="achievementType in achievementTypes">
        <md-subheader class="md-no-sticky">{{achievementType.name}}</md-subheader>

        <md-button class="md-fab achievement-button {{achievementTier.color}}" ng-repeat="achievementTier in achievementType.tiers" aria-label="{{achievementType.name}}">
            <md-tooltip>
                {{achievementTier.name}} - {{achievementTier.points}} points
            </md-tooltip>

            <md-icon md-font-icon="{{achievementType.icon}}" class="achievement-icon"></md-icon>
        </md-button>
    </div>

    <md-subheader class="md-no-sticky">Misc</md-subheader>

    <md-button class="md-icon-button achievement-svg-button" ng-repeat="badge in miscBadges" aria-label="{{badge.name}}">
        <md-tooltip>
            {{badge.name}} - {{badge.points}} points
        </md-tooltip>

        <md-icon md-svg-src="{{badge.icon}}" class="achievement-button"></md-icon>
    </md-button>
</md-content>