.achievement-button {
    width: 100px !important;
    height: 100px !important;
}

.achievement-svg-button {
    width: 110px !important;
    height: 110px !important;
}

.achievement-icon {
    font-size: 30px;
}