<div class="item-content ng-cloak" ng-init="init()">
    <div layout-gt-sm="row">
        <md-input-container flex="40">
            <label>Item</label>
            <input ng-model="newItem" required>
        </md-input-container>

        <md-input-container flex="20">
            <label>Day</label>
            <md-select ng-model="selectedDay">
                <md-option ng-repeat="day in days" ng-value="day">{{day}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container flex="20">
            <label>Meal</label>
            <md-select ng-model="selectedMeal">
                <md-option ng-repeat="meal in meals" ng-value="meal">{{meal}}</md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <md-button type="button" class="phood-blue add-item" ng-click="addItemsFromDayList()">Add Item</md-button>
        </md-input-container>
    </div>

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="table-header">Item</th>
                <th class="table-header">Day</th>
                <th class="table-header">Meal</th>
            </tr>
        </thead>

        <tbody id="table">
            <div>
                <tr ng-repeat="item in items">
                    <td><a href="#" editable-text="item.name" onaftersave="editRecurringItem(item)">{{item.name}}</a></td>
                    <td><a href="#" editable-select="item.dayOfTheWeek" e-ng-options="d.name as d.name for d in dayObjects" onaftersave="editRecurringItem(item)">{{item.dayOfTheWeek}}</a></td>
                    <td><a href="#" editable-select="item.meal" e-ng-options="m for m in meals" onaftersave="editRecurringItem(item)">{{item.meal}}</a></td>

                    <td>
                        <md-button data-ng-click="deleteRecurringItem(item)" class="md-fab md-mini phood-red">X</md-button>
                    </td>
                </tr>
            </div>
        </tbody>
    </table>

    <div ng-if="(loadingState == 'Loading')">
        <phood-loader></phood-loader>
    </div>
    <div ng-if="(loadingState == 'NoData')">
        No persistent item data.
    </div>
    <div ng-if="(loadingState == 'Error')">
        An error occurred while retrieving persistent item data.
    </div>
</div>