<div class="trackerContainer" id="tracker" ng-init="init()">
    <div class="pageone tracker-fade" ng-cloak id="pageone" ng-show="isPageOne">
        <md-content class="tracker-p1-content full-height">
            <div layout="row" layout-align="start center">

                <div class="tracker-dropdown">
                    <button ng-click="toggleDropdown('dayDropdown')" class="tracker-dropbtn">
                        {{currentDay.display}}
                        <span class="fa fa-caret-down tracker-drop-caret"></span>
                    </button>

                    <div id="dayDropdown" class="tracker-dropdown-content">
                        <a href="javascript:void(0)" ng-repeat="day in days" ng-click="setDay(day)">{{day.display}}</a>
                    </div>
                </div>

                <div class="tracker-dropdown">
                    <button ng-click="toggleDropdown('mealDropdown')" class="tracker-dropbtn">
                        {{currentMeal}}
                        <span class="fa fa-caret-down tracker-drop-caret"></span>
                    </button>

                    <div id="mealDropdown" class="tracker-dropdown-content">
                        <a href="javascript:void(0)" ng-repeat="meal in meals" ng-click="setMeal(meal)">{{meal}}</a>
                    </div>
                </div>

                <md-input-container class="inventory-switch-container">
                    <md-button class="md-fab phood-gray" aria-label="Search" ng-show="!showSearch" ng-click="switchDisplay()" aria-label="Search">
                        <i class="fa fa-search"></i>
                    </md-button>

                    <md-button class="md-fab phood-gray" ng-show="showSearch" ng-click="switchDisplay()" aria-label="Buttons">
                        <i class="fa fa-undo"></i>
                    </md-button>
                </md-input-container>
            </div>

            <div ng-if="loadingState == 'Ready'" class="pad-top-10">
                <md-button
                        class="phood-blue menu-button"
                        ng-click="nextPage(item.name)"
                        ng-repeat="item in menus"
                        ng-show="!showSearch && checkItem(item)">

                    {{item.name | filterItemLength}}
                </md-button>
            </div>

            <div ng-if="loadingState == 'Loading'">
                <phood-loader></phood-loader>
            </div>

            <!-- Search Bar-->
            <!-- Commented out the fade for now -->
            <div class="md-padding" ng-show="showSearch" layout="row" layout-align="center center">
                <span class="phood-gray-1-no-hover border-radius-50 height-150" flex="80" layout="row" layout-align="center center">
                    <md-autocomplete
                            id="itemSearch"
                            md-items="item in search(searchText)"
                            md-search-text="searchText"
                            md-item-text="item.name"
                            md-selected-item="selectedUser"
                            flex="70"
                            md-no-cache="true"
                            md-floating-label="Search Items...">

                        <md-item-template>
                            <span md-highlight-text="searchText">{{item.name}}</span>
                        </md-item-template>
                    </md-autocomplete>

                    <md-button class="md-raised phood-blue" ng-click="spellCheck(searchText)" aria-label="Submit">
                        Use This Item
                    </md-button>
                </span>
            </div>
    </div>

    <!-- Page 2 -->
    <div class="" ng-cloak id="pagetwo" ng-show="isPageTwo">
        <div class="pagetwoLeft">
            <div layout="row">
                <input disabled class="quantityForm" id="quantityForm" ng-model="quantity" placeholder="0.00" name="quantity" flex="80" layout-align="end end">

                <div layout="column" flex="20" layout-align="end center">
                    <label class="quantity-label">LBS</label>
                </div>
            </div>

            <div class="keypad">
                <md-button class="phood-blue select" ng-repeat="key in keypadButtons" ng-click="keypad(key)">{{key}}</md-button>
                <md-button class="phood-blue select del" ng-click="keypad('<')">DEL</md-button>
            </div>
        </div>

        <!-- Right Half -->
        <div class="pageTwoRight">
            <div ng-show="hasPans">
                <h3 class="p2-ml">Containing Pan</h3>
                <div class="tracker-dropdown tracker-dropdown-p2">
                    <md-button ng-click="toggleDropdown('panDropdown')" class="tracker-dropbtn tracker-dropbtn-p2">
                        {{currentPan.name}}
                        <span class="fa fa-caret-down tracker-drop-caret"></span>
                    </md-button>

                    <div id="panDropdown" class="tracker-dropdown-content">
                        <a href="javascript:void(0)" ng-repeat="pan in pans" ng-click="setPan(pan)">{{pan.name}}</a>
                    </div>
                </div>
            </div>

            <h3 class="p2-ml">Action</h3>
            <div class="tracker-dropdown tracker-dropdown-p2">
                <md-button ng-click="toggleDropdown('actionDropdown')" class="tracker-dropbtn tracker-dropbtn-p2">
                    {{action}}
                    <span class="fa fa-caret-down tracker-drop-caret"></span>
                </md-button>

                <div id="actionDropdown" class="tracker-dropdown-content">
                    <a href="javascript:void(0)" ng-repeat="action in actions" ng-click="setAction(action)">{{action}}</a>
                </div>
            </div>

            <h3 class="p2-ml">Loss Reason</h3>
            <div class="tracker-dropdown tracker-dropdown-p2">
                <md-button ng-click="toggleDropdown('reasonDropdown')" class="tracker-dropbtn tracker-dropbtn-p2">
                    {{reason}}
                    <span class="fa fa-caret-down tracker-drop-caret"></span>
                </md-button>

                <div id="reasonDropdown" class="tracker-dropdown-content">
                    <a href="javascript:void(0)" ng-repeat="reason in reasons" ng-click="setReason(reason)">{{reason.name}}</a>
                </div>
            </div>

            <md-button id="submitButton" ng-click="checkInputs()" class="phood-green submitLog" ng-show="!isAddingLog">Submit</md-button>
            <phood-loader ng-show="isAddingLog"></phood-loader>

            <div ng-show="wasSuccessful" class="checkmark-parent">
                <span id="checkmark" class="glyphicon glyphicon-ok tracker-checkmark"></span>
            </div>
        </div>
    </div>

    <div class="pageThree" ng-show="isPageThree" layout="column" layout-align="center center">
        <div>
            <i class="fa fa-check success-icon"></i>
        </div>
        <div class="success-label">
            SUBMISSION SUCCESSFUL
        </div>
    </div>
</div> <!-- /container -->