<md-card>
    <form name="userForm" layout-padding flex>
        <div layout="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Username</label>
                <input ng-model="newUser.name" name="username">
            </md-input-container>
    
            <md-input-container class="md-block" flex-gt-xs>
                <label>Email</label>
                <input type="email" ng-model="newUser.email" name="email">
    
                <div ng-messages="userForm.newUser.email.$error">
                    <div ng-message="email">Please input a valid email address.</div>
                </div>
            </md-input-container>
    
            <md-input-container class="md-block" flex-gt-xs>
                <label>Contact Name</label>
                <input ng-model="newUser.contactName" name="contactName">
            </md-input-container>
        </div>
    
        <div layout="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Password</label>
                <input type="password" ng-model="newUser.password" name="password">
            </md-input-container>
    
            <md-input-container class="md-block" flex-gt-xs>
                <label>Confirm Password</label>
                <input type="password" ng-model="newUser.confirmPassword" name="confirmPassword" ng-pattern="{{newUser.password}}">
    
                <div ng-messages="userForm.newUser.confirmPassword.$error">
                    <div ng-message="pattern">The passwords do not match.</div>
                </div>
            </md-input-container>
    
            <md-checkbox aria-label="Active" class="md-primary line-height-50" ng-model="newUser.active">Active</md-checkbox>
        </div>
    
        <!-- TODO: Add sections for defining their roles and settings here, as part of user creation -->
    
        <md-button class="phood-gray" ng-click="cancelAddUser()">
            Cancel
        </md-button>
    
        <md-button class="phood-blue" ng-click="fireUserAddEvent()">
            Save
        </md-button>
    </form>
</md-card>