<md-content flex layout="column" class="fab-menu fade" ng-cloak>
    <div layout="column" layout-align="start center" flex class="fade">
        <md-button ui-sref="dashboard" ng-show="(isManager || isDirector) && !isAdmin" ng-class="isStateActive('dashboard')" aria-label="Dashboard">
            <md-icon md-font-icon="fa fa-home"></md-icon>
        </md-button>

        <md-button ui-sref="tracker" ng-show="isTracker" ng-class="isStateActive('tracker')" aria-label="Tracker">
            <md-icon md-font-icon="fa fa-home"></md-icon>
        </md-button>

        <md-button ui-sref="account" ng-show="isAdmin" ng-class="isStateActive('account')" aria-label="Account">
            <md-icon md-font-icon="fa fa-user"></md-icon>
        </md-button>

        <md-button ui-sref="recentActivity" ng-show="isAdmin" ng-class="isStateActive('recentActivity')" aria-label="Recent Activity">
            <md-icon md-font-icon="fa fa-user-secret"></md-icon>
        </md-button>

        <md-button ui-sref="logs" ng-show="(isTracker || isManager || isDirector)" ng-class="isStateActive('logs')" aria-label="Logs">
            <md-icon md-font-icon="fa fa-list-ul"></md-icon>
        </md-button>

        <md-button ui-sref="donation" ng-show="isAdmin" ng-class="isStateActive('donation')" aria-label="Donation">
            <md-icon md-font-icon="fa fa-truck"></md-icon>
        </md-button>

        <md-button ui-sref="reports" ng-show="(isManager || isDirector) && !isAdmin" ng-class="isStateActive('reports')" aria-label="Reports">
            <md-icon md-font-icon="fa fa-area-chart"></md-icon>
        </md-button>

        <md-button ui-sref="account" ng-show="(isManager || isDirector) && !isAdmin" ng-class="isStateActive('account')" aria-label="Account">
            <md-icon md-font-icon="fa fa-user"></md-icon>
        </md-button>

        <md-button ui-sref="kitchen" ng-show="isAdmin" ng-class="isStateActive('kitchen')" aria-label="Kitchen">
            <md-icon md-font-icon="fa fa-users"></md-icon>
        </md-button>

        <md-button ui-sref="pcDisplay" ng-show="user.settings.showPostConsumer && isTracker" ng-class="isStateActive('pcDisplay')" aria-label="Kitchen">
            <md-icon md-font-icon="fa fa-tv"></md-icon>
        </md-button>

        <md-button ng-show="isTrackerPage2" class="md-fab phood-gray" aria-label="Back">
            <md-icon md-font-icon="fa fa-chevron-circle-left"></md-icon>
        </md-button>

        <md-button class="md-fab phood-gray" ng-show="!isAdmin" aria-label="Support" ng-href="https://phood.freshdesk.com/support/tickets/new" target="_blank">
            <md-icon md-font-icon="fa fa-question"></md-icon>
        </md-button>

        <md-button class="md-fab phood-gray" ng-click="logout()" aria-label="Logout">
            <md-icon md-font-icon="fa fa-sign-out"></md-icon>
        </md-button>
    </div>
</md-content>