.fade {
    transition: all linear 500ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
}

.fab-menu {
    position: relative;
    float: left;
    overflow-y: scroll;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #e4e4e8;
    /*box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);*/
}