<md-card flex layout-padding>
    <div layout="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Organization Name</label>
            <input ng-model="newOrganization.name" name="name">
        </md-input-container>
    
        <md-input-container class="md-block" flex-gt-xs>
            <label>Alias</label>
            <input ng-model="newOrganization.alias" name="alias">
        </md-input-container>
    </div>

    <div layout="row">
        <md-input-container class="md-block" flex="50">
            <label>Owning User</label>
        
            <md-select ng-model="newOrganization.ownerId">
                <md-option ng-repeat="user in users | filter: filterByPrimaryAccounts" ng-value="user.id">{{user.name}} (email: {{user.email}})</md-option>
            </md-select>
        </md-input-container>
    
        <md-checkbox aria-label="Show Costs" class="md-primary line-height-50" ng-model="newOrganization.active">Active</md-checkbox>
    </div>

    <div>
        <md-button class="phood-gray" ng-click="cancelAddOrganization()">
            Cancel
        </md-button>
    
        <md-button class="phood-blue" ng-click="fireOrganizationAddEvent()" ng-disabled="!newOrganization.ownerId">
            Add
        </md-button>
    </div>
</md-card>