<md-card>
    <label>Role Type</label>
    <md-radio-group ng-model="newRole.type" required>
        <div layout="row">
            <md-radio-button value="ViewLocation" class="margin-right-10">View Location</md-radio-button>
            <md-radio-button value="ManageLocation">Manage Location</md-radio-button>
        </div>
    
        <md-input-container class="md-block">
            <md-select ng-model="newRole.selectLocation" aria-label="Location">
                <md-option ng-repeat="loc in locations" ng-value="loc">{{loc.name}}</md-option>
            </md-select>
        </md-input-container>
    
        <div layout="row">
            <md-radio-button value="ViewOrganization" class="margin-right-10">View Organization</md-radio-button>
            <md-radio-button value="ManageOrganization">Manage Organization</md-radio-button>
        </div>
    
        <md-input-container class="md-block">
            <md-select ng-model="newRole.selectOrganization" aria-label="Organization">
                <md-option ng-value="selectedOrganization">{{selectedOrganization.name}}</md-option>
            </md-select>
        </md-input-container>
    </md-radio-group>
    
    <div>
        <md-button ng-click="cancelAddRole()">
            Cancel
        </md-button>
        
        <md-button name="createRoleButton" class="phood-blue" ng-click="createRole(newRole)">
            Save
        </md-button>
    </div>
</md-card>