<md-content layout-padding layout="column" flex>
    <div layout="row" class="kitchen-ask-container">
        <md-input-container flex="80">
            <input ng-model="newAsk" placeholder="Ask the Kitchen for advice, feedback, or suggestions!">
        </md-input-container>

        <md-button class="phood-blue height-36" ng-click="ask(newAsk)" aria-label="Ask">Ask</md-button>
    </div>

    <md-list flex="60">
        <div ng-repeat="currentAsk in asks">
            <md-card class="comment-card">
                <md-list-item class="md-3-line montserrat" layout-padding>
                    <img src="{{currentAsk.src}}" class="md-avatar" alt="{{currentAsk.school}}" />

                    <div layout="column" class="collaboration-list-container" flex>
                        <div class="collaboration-list-header" layout="row" flex>
                            <span flex="80" class="bold">
                                {{currentAsk.school}}
                            </span>
                        </div>

                        <p>{{currentAsk.text}}</p>

                        <p>
                            <md-icon md-font-icon="fa-thumbs-up" class="fa s32"></md-icon>
                            <md-icon md-font-icon="fa-comment" class="fa s32"></md-icon>
                        </p>

                        <md-divider class="position-relative"></md-divider>

                        <div layout="column" flex>
                            <md-list>
                                <md-list-item class="md-2-line" ng-repeat="comment in currentAsk.comments">
                                    <img src="{{currentAsk.src}}" class="md-avatar" alt="{{currentAsk.school}}" />

                                    <div class="md-list-item-text">
                                        {{comment.text}}
                                    </div>

                                    <md-divider></md-divider>
                                </md-list-item>

                                <md-list-item class="md-2-line">
                                    <img src="{{currentAsk.src}}" class="md-avatar" alt="{{currentAsk.school}}" />

                                    <div class="md-list-item-text">
                                        <md-input-container>
                                            <input aria-label="New Comment" ng-model="currentAsk.newComment" flex>
                                        </md-input-container>

                                        <md-button class="phood-blue height-36" ng-click="post(currentAsk.newComment, $index)" aria-label="Post">Post</md-button>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </md-list-item>
            </md-card>
        </div>
    </md-list>
</md-content>