<div ng-init="init()" class="full-height md-padding">

    <md-tabs class="full-height">
        <md-tab layout-padding label="Organization List">
            <div>
                <md-button aria-label="Add Organization" class='phood-blue' ng-click="showAddOrganizationCard()">Add Organization</md-button>
                <md-button aria-label="Add Primary Account" class='phood-blue' ng-click="showAddPrimaryAccountCard()">Add Primary Account</md-button>
            </div>

            <span>
                To set up a new organization, first add a new primary account for who will manage that organization (if a new user is needed). 
                Then create a new organization, and select that primary account as the owner for that organization.
            </label>

            <new-organization-card ng-show="isAddOrganizationActive" users="users"></new-organization-card>
            <new-user-card ng-show="isAddUserActive" is-primary="true"></new-user-card>

            <organization-list users="users" organizations="organizations"></organization-list>
        </md-tab>

        <md-tab label="Manage Organization">
            <manage-organization is-admin="true" organizations="organizations" users="allUsers"></manage-organization>
        </md-tab>
    </md-tabs>
</div>